.form-container {
  margin: 55px;
  width: 290px;
  background-color: #efefef;
  border-radius: 15px;
  padding: 20px;
}

.mat-form-field {
  width: 280px;
}

.mat-button {
  background-color: rgb(171, 225, 241);
  margin-left: 200px;
}
